body {
    background-color: rgba(232, 176, 186, 0.575);
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.col-lg-6,
.col-md-6,
.container-fluid {
    padding: 0;
}

#mainNavbar {
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}

.navbar.scrolled {
    background-color: pink;
    transition: background-color 500ms;
}

h1 span {
    color: red;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.blurb p {
    color: #f498b8;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}